<form>
  <div class="row">
    <div class="col-lg-6">
      <input type="text" class="form-control" placeholder="First name">
    </div>
    <div class="col-lg-6">
      <input type="text" class="form-control" placeholder="Last name">
    </div>
    <div class="col-lg-6">
      <input type="text" class="form-control" placeholder="Adresse">
    </div>
    <div class="col-lg-6">
      <input type="text" class="form-control" placeholder="tel number">
    </div>
  </div>
  <div class="row">
      <div class="test col-12">
    <a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Envoyer</a>
  </div>
</div>
</form>